body {
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
    margin:0 auto;
    background:#2B1B17;
}

nav#headmenu li a.publish_Button
{
    position:fixed;
    bottom:-28px;
    left:-175px;
    list-style:none;
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    transform:rotate(40deg);
    background-image: url(publish_button.png);
    background-repeat:no-repeat;
    background-size:70%;
    width: 650px;
    height: 76px;
    opacity:0.9;
}

nav#headmenu li a.back_Button
{
    position:fixed;
    bottom:-28px;
    left:-175px;
    list-style:none;
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    transform:rotate(40deg);
    background-image: url(backbutton.png);
    background-repeat:no-repeat;
    background-size:70%;
    width: 650px;
    height: 76px;
    opacity:0.9;
}

nav#headmenu li a.publish_Button:hover
{
    position:fixed;
    bottom:-28px;
    left:-175px;
    list-style:none;
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    transform:rotate(40deg);
    background-image: url(publish_button.png);
    background-repeat:no-repeat;
    background-size:70%;
    width: 650px;
    height: 76px;
    opacity:0.7;
}

nav#headmenu li a.back_Button:hover
{
    position:fixed;
    bottom:-28px;
    left:-175px;
    list-style:none;
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    transform:rotate(40deg);
    background-image: url(backbutton.png);
    background-repeat:no-repeat;
    background-size:70%;
    width: 650px;
    height: 76px;
    opacity:0.7;
}


nav#headmenu li a.realpublish_Button
{
    position:fixed;
    bottom:90px;
    right:-320px;
    list-style:none;
    -webkit-transform: rotate(-40deg);
    -moz-transform: rotate(-40deg);
    -ms-transform: rotate(-40deg);
    -o-transform: rotate(-40deg);
    transform:rotate(-40deg);
    background-image: url(publish_button.png);
    background-repeat:no-repeat;
    background-size:70%;
    width: 650px;
    height: 76px;
    opacity:0.9;
}

nav#headmenu li a.realpublish_Button:hover
{
    position:fixed;
    bottom:90px;
    right:-320px;
    list-style:none;
    -webkit-transform: rotate(-40deg);
    -moz-transform: rotate(-40deg);
    -ms-transform: rotate(-40deg);
    -o-transform: rotate(-40deg);
    transform:rotate(-40deg);
    background-image: url(publish_button.png);
    background-repeat:no-repeat;
    background-size:70%;
    width: 650px;
    height: 76px;
    opacity:0.7;
}

.ShelfWrapper {
    white-space: nowrap;
    margin-top:150px;
}

.blur {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    filter: blur(5px);
    display:inline-block;
    margin-left:100px;
    margin-right:100px;
}

.ShelfImageWrapper {
    display:inline-block;
    margin-left:100px;
    margin-right:100px;
}


img.ShelfImages {
    box-shadow: -13px -15px 20px rgba(0,0,0,0.4);
    -webkit-box-reflect: below 1px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(255,255,255,0.2)));
}

.ShelfTitle {
    color:white;
    background:black;
    font-family:"Lucida Console";
    font-size:1.3em;
    opacity:0.8;
    -webkit-box-reflect: below 1px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(90%, transparent), to(rgba(255,255,255,0.7)));
}

.BlurryContent {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:#1e1e1e;
    opacity:0.5;
    text-align:center;
}

.PublishContent {
    position:fixed;
    top:2%;
    left:15%;
    max-height:100%;
    width:70%;
    background:#8F7F7B;
    border-radius:12px;
    border-right:4px solid #857571;
    border-left:2px solid #857571;
    border-bottom:4px solid #857571;
    border-top:2px solid #857571;
    box-shadow:4px 5px 10px;
    z-index:9999;
    opacity:0.9;
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
    font-weight:bolder;
    min-width:480px;
}

.TextBoxTextfield {
    resize:none;
}


.hideBlur {
    visibility:hidden;
    opacity:0;
}

.showBlur {
    visibility:visible;
    opacity:1;
    z-index:99999;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
}


.floor {
    position:absolute;
    top:0;
    left:0;
    height:100%;
    background: rgb(147,116,91);
    background: -moz-linear-gradient(top,  rgba(147,116,91,1) 0%, rgba(10,9,9,1) 450px, rgba(10,9,9,1) 463px, rgba(12,12,11,1) 467px, rgba(12,12,11,1) 480px, rgba(20,19,18,1) 500px, rgba( 43, 27, 23,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(147,116,91,1)), color-stop(450px,rgba(10,9,9,1)), color-stop(463px,rgba(10,9,9,1)), color-stop(467px,rgba(12,12,11,1)), color-stop(480px,rgba(12,12,11,1)), color-stop(500px,rgba(20,19,18,1)), color-stop(100%,rgba( 43, 27, 23,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(147,116,91,1) 0%,rgba(10,9,9,1) 450px,rgba(10,9,9,1) 463px,rgba(12,12,11,1) 467px,rgba(12,12,11,1) 480px,rgba(20,19,18,1) 500px,rgba( 43, 27, 23,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(147,116,91,1) 0%,rgba(10,9,9,1) 450px,rgba(10,9,9,1) 463px,rgba(12,12,11,1) 467px,rgba(12,12,11,1) 480px,rgba(20,19,18,1) 500px,rgba( 43, 27, 23,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(147,116,91,1) 0%,rgba(10,9,9,1) 450px,rgba(10,9,9,1) 463px,rgba(12,12,11,1) 467px,rgba(12,12,11,1) 480px,rgba(20,19,18,1) 500px,rgba( 43, 27, 23,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(147,116,91,1) 0%,rgba(10,9,9,1) 450px,rgba(10,9,9,1) 463px,rgba(12,12,11,1) 467px,rgba(12,12,11,1) 480px,rgba(20,19,18,1) 500px,rgba( 43, 27, 23,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93745b', endColorstr='#876a59',GradientType=0 ); /* IE6-9 */

}

.infolabel {
    font-size:0.8em;
}

.uploadfile {
    margin-bottom:10px;
    margin-left:10px;
}

.textbox {
    float:left;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size:18px;
    padding-left:5px;
    padding-right:5px;
    height:30px;
    width:400px;
    color:black;
    margin:20px;
}

.textarea {
    float:left;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size:18px;
    padding-left:5px;
    padding-right:5px;
    height:100px;
    width:400px;
    color:black;
    margin:20px;
    resize:none;
}

.ErrorMessages {
    color:#F70D1A;
    opacity:0.8;
    font-size:0.8em;
}


h1 {
    margin-top:10px;
    margin-bottom:10px;
    color: black;
    opacity: 0.7;
    text-align:center;
    font-size:2em;
    text-shadow:1px 1px 1px black;
}

.Edit_Creator_Field {
    opacity:1.0;
}

.wrapuploads {
float:left;   
 /*float:right;*/
margin:20px;
}

fieldset {
    float:left;
    border: ridge #7B6B67 2px;
    border-radius:10px;
    width:350px;
    margin:10px;
}

legend {
    margin-left:20px;
    padding-left:3px;
    padding-right:3px;
}


.ErrorMessage_Creator {
    position:relative;
    left:-430px;
    color:#A70000;
    opacity:0.8;
    font-size:0.8em;
}

.ErrorMessage_Title {
    position:relative;
    left:-430px;
    color:#A70000;
    opacity:0.8;
    font-size:0.8em;
}

.ErrorMessage_Email {
    position:relative;
    left:-430px;
    top:60px;
    color:#A70000;
    opacity:0.8;
    font-size:0.8em;
}

.ErrorMessage_Textfield {
    position:relative;
    left:-425px;
    color:#A70000;
    opacity:0.8;
    font-size:0.8em;
}

.ErrorMessage_Upload {
    position:relative;
    top:-22px;
    left:-250px;
    color:#A70000;
    opacity:0.8;
    font-size:0.8em;
}