body {
    background-image:url('background.png');
    background-size:63%;
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
    margin:0 auto;
    max-height:100%;
    overflow:hidden;
    padding:50px;
}


nav#headmenu ul
{

}

nav#headmenu li 
{
}

/*nav#headmenu li a.SortButton
{
    position:absolute;
    left:1%;
    color:white;
    font-size:0.8em;
    padding:5px 15px 5px 15px;
    border-radius:30px;
    text-decoration:none;
    border-color:black;
    border-width:thin;
    border-style:ridge;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4C4646), color-stop(100%,#7E7878)); 
    background: -webkit-linear-gradient(top, #4C4646 0%,#7E7878 100%); 
    background: -o-linear-gradient(top, #4C4646 0%,#7E7878 100%); 
    background: -ms-linear-gradient(top, #4C4646 0%,#7E7878 100%); 
    background: linear-gradient(to bottom, #4C4646 0%,#7E7878 100%);
}

nav#headmenu li a.SortButton:hover
{
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#565050), color-stop(100%,#888282)); 
    background: -webkit-linear-gradient(top, #565050 0%,#888282 100%); 
    background: -o-linear-gradient(top, #565050 0%,#888282 100%); 
    background: -ms-linear-gradient(top, #565050 0%,#888282 100%); 
    background: linear-gradient(to bottom, #565050 0%,#888282 100%);
}*/

nav#headmenu li a.Button
{
    position:fixed;
    bottom:-28px;
    left:-175px;
    list-style:none;
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    transform:rotate(40deg);
    background-image: url(publish_button.png);
    background-repeat:no-repeat;
    background-size:70%;
    width: 650px;
    height: 76px;
    opacity:0.6;
}

nav#headmenu li a.Button:hover
{
    position:fixed;
    bottom:-28px;
    left:-175px;
    list-style:none;
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    transform:rotate(40deg);
    background-image: url(publish_button.png);
    background-repeat:no-repeat;
    background-size:70%;
    width: 650px;
    height: 76px;
    opacity:initial;
}

/*nav#headmenu li a.HelpButton
{
    color:white;
    font-size:0.8em;
    padding:5px 15px 5px 15px;
    border-radius:30px;
    text-decoration:none;
    border-color:black;
    border-width:thin;
    border-style:ridge;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4C4646), color-stop(100%,#7E7878)); 
    background: -webkit-linear-gradient(top, #4C4646 0%,#7E7878 100%); 
    background: -o-linear-gradient(top, #4C4646 0%,#7E7878 100%); 
    background: -ms-linear-gradient(top, #4C4646 0%,#7E7878 100%); 
    background: linear-gradient(to bottom, #4C4646 0%,#7E7878 100%);
}

nav#headmenu li a.HelpButton:hover
{
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#565050), color-stop(100%,#888282)); 
    background: -webkit-linear-gradient(top, #565050 0%,#888282 100%); 
    background: -o-linear-gradient(top, #565050 0%,#888282 100%); 
    background: -ms-linear-gradient(top, #565050 0%,#888282 100%); 
    background: linear-gradient(to bottom, #565050 0%,#888282 100%);
}


nav#rightmenu li a.AboutButton
{
    color:white;
    font-size:0.8em;
    padding:5px 15px 5px 15px;
    border-radius:30px;
    text-decoration:none;
    border-color:black;
    border-width:thin;
    border-style:ridge;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4C4646), color-stop(100%,#7E7878)); 
    background: -webkit-linear-gradient(top, #4C4646 0%,#7E7878 100%); 
    background: -o-linear-gradient(top, #4C4646 0%,#7E7878 100%); 
    background: -ms-linear-gradient(top, #4C4646 0%,#7E7878 100%); 
    background: linear-gradient(to bottom, #4C4646 0%,#7E7878 100%);
}

nav#rightmenu li a.AboutButton:hover
{
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#565050), color-stop(100%,#888282)); 
    background: -webkit-linear-gradient(top, #565050 0%,#888282 100%); 
    background: -o-linear-gradient(top, #565050 0%,#888282 100%); 
    background: -ms-linear-gradient(top, #565050 0%,#888282 100%); 
    background: linear-gradient(to bottom, #565050 0%,#888282 100%);
}


nav#rightmenu li a.AdminButton
{
    color:white;
    font-size:0.8em;
    padding:5px 15px 5px 15px;
    border-radius:30px;
    text-decoration:none;
    border-color:black;
    border-width:thin;
    border-style:ridge;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4C4646), color-stop(100%,#7E7878)); 
    background: -webkit-linear-gradient(top, #4C4646 0%,#7E7878 100%); 
    background: -o-linear-gradient(top, #4C4646 0%,#7E7878 100%); 
    background: -ms-linear-gradient(top, #4C4646 0%,#7E7878 100%); 
    background: linear-gradient(to bottom, #4C4646 0%,#7E7878 100%);
}

nav#rightmenu li a.Admin:hover
{
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#565050), color-stop(100%,#888282)); 
    background: -webkit-linear-gradient(top, #565050 0%,#888282 100%); 
    background: -o-linear-gradient(top, #565050 0%,#888282 100%); 
    background: -ms-linear-gradient(top, #565050 0%,#888282 100%); 
    background: linear-gradient(to bottom, #565050 0%,#888282 100%);
}*/

table {
    border-spacing: 30px;
}

tr {
    vertical-align: top;
}

.ShelfImageWrapper {
    margin-top:50px;
    margin-left:100px;
    margin-right:100px;
}

img.ShelfImages {
    box-shadow: -13px -15px 20px rgba(0,0,0,0.4);
    -webkit-box-reflect: below 1px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(255,255,255,0.3)));
}

.ShelfTitle {
    position:relative;
    top:23px;
    color:white;
    background:black;
    font-family:"Lucida Console";
    font-size:1.3em;
    opacity:0.8;
}